{{#if logged_in}}
<div>
    <li>
        <button class="logoutBtn" id="logout">Logout</button>
    </li>
</div>
{{/if}}

<!--Login Modal-->
<div class="Login-Modal hidden">
    <div id="Login Modal" class="loginModal">
        <form class="modal-content" id="login-form">
            <span class="login-close-button">&times;</span>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="login-username" required>
            <div>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="login-password" required>
            </div>

            <div id="login_errors"></div>

            <button type="Login" id="login-form-button" class="login-form-button">Login</button>
            <div>
                <label>
                    <p>No Account? Just close this box and click <span style="color: rgb(190, 190, 190);">Sign
                            Up!</span></p>
                </label>
            </div>
        </form>
    </div>
</div>


<!--Sign Up Modal Section-->
<div class="signUp hidden">
    <div id="SignUp Modal" class="signUpModal">
        <form class="modal-content" id="signup_form">
            <span class="signup-close-button">&times;</span>
            <div>
                <label for="email"><b>Email</b></label>
                <input type="email" id="sign-up-email" name="email" placeholder="Enter Email address" required>
            </div>
            <div>
                <label for="Firstname"><b>Create a Username</b></label>
                <input type="text" placeholder="First Name" id="sign-up-first-name" name="Firstname" required>
            </div>
            <div>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="sign-up-password" required>
            </div>
            <div class="signUpBtn">
                <button type="Signup" id="signup-form-button" class="signup-form-button">Sign Up</button>
            </div>
            <div>
                <label>
                    <p>Remember to make your username something <span style="color:aqua;">fun</span> and <span
                            style="color:rgb(254, 254, 37);">catchy</span>. This is a space for <span
                            style="color: rgb(190, 190, 190);">CREATIVITY</span>!</p>
                </label>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div>
        <h1 class="cwTitle" style="text-align: center;">Welcome to CodeWise! A place for coders to blog about coding.
        </h1>
        <h3 class="cwTitle" style="text-align: center;">(<span style="color: rgb(125, 0, 0);">NOT</span> a place for
            doctors to complain about coding.)</h3>
    </div>
</div>

<div style="text-align:center">
    <button class="trigger">Login or Sign Up</button>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <button class="loginButton" onclick="showLogin(), toggleModal()">Login</button>
            <button class="signUpButton" onclick="showSignUp(), toggleModal()">Sign Up</button>
        </div>
    </div>
</div>

{{#if logged_in}}
<section>
    <button class="newPostBtn" type="submit" id="createPost">Create New Blog</button>
</section>
{{/if}}

{{#each blog as |blog|}}
<div>
    <div>
        <h1><a href="controllers/api/blog.js/{{blog.id}}">{{blog.title}}</a></h1>
    </div>
    <div>
        <button data-id="{{blog.id}}">DELETE</button>
    </div>
</div>
{{/each}}

<script src="js/script.js"></script>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}